<div class="container my-5">
  <div class="card dashboard-table p-4 rounded-4">
    <h2 class="mb-4 text-center fw-bold">Reports</h2>
    <p class="text-center">Select a report type to generate:</p>
    <div class="row text-center ">
      <div class="col-md-4 mb-3">
        <a href="/reports/clients" class="btn fw-semibold w-100 custom-btn-accent">Clients</a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="/reports/subscriptions" class="btn fw-semibold w-100 custom-btn-accent">Packages</a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="/reports/financial" class="btn fw-semibold w-100 custom-btn-accent">Financial</a>
      </div>
    </div>
  </div>
</div>